<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create customer</title>
</head>
<body>
<h2>Create Customer</h2>
<form method="post">
	<table>
		<tbody>
		<tr>
			<td>Name:</td>
			<td><input type="text" name="name" value="" /></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><input type="text" name="email" value="" /></td>
		</tr>
		<tr>
			<td>Address:</td>
			<td><input type="text" name="address" value="" /></td>
		</tr>
		<tr>
			<td>Province</td>
			<td><select name="province">
				<option th:each="c : ${provinces}" th:value="${c.id}" th:text="${c.name}"></option>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" value="Create"></td>
		</tr>
		</tbody>
	</table>
</form>
</body>
</html>